@media (max-width: 991px) {
    main{
        .section__comentarios {
            flex-direction: column;
            row-gap: 25px;
            margin-bottom: 25px;
    
            .card__text{
                p{
                    font-size: 19px;
                }
            }
    
        }
    }

    footer{
        flex-direction: column;
        row-gap: 25px;
        height: 100%;
        text-align: center;
        line-height: 2rem;
        margin-top: 30%;

        .P4__text--Social{
            strong{
                padding: 10px 0;
            }
        }
    }
   
}