// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Base

body {
    background: whitesmoke;
    font-family: 'Roboto';
}

// Base Fim

// main

main {

    width: 100%;
    min-height: 100vh;
    

    // header

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 50px;

        h1 {
            font-weight: 700;
            font-size: 33px;
            color: #D6000D;

            span {
                color: #000;
            }
        }

        .nav__list {

            align-items: center;
            justify-content: center;
            padding: 10px 0;


            .nav__link {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                column-gap: 20px;


                a {
                    font-size: 17px;
                    text-decoration: none;
                    color: #000;
                    font-weight: 600;
                }
            }

            span {

                background: #D6000D;
                text-align: center;
                padding: 6px 50px;
                border-radius: 15px;

                .btn__link {
                    color: #fff;

                }

            }
        }

    }

    // header Fim

    // Primeira Seção

    .section__top {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        margin-top: 100px;

        .section__top__content {
            display: flex;
            align-items: center;
            column-gap: 5%;
            margin: 0 auto;
          //  width: 80%;
            height: 100%;


            .section__top--img {

                // border: 1px solid #000;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 450px;
                    margin-right: 50%;

                }
            }

            .section__content--text {

                p {
                    font-weight: bold;
                    font-size: 25px;
                }

                h2 {
                    color: #D6000D;
                    font-size: 40px;
                    padding-bottom: 25px;
                }

                a {

                    text-decoration: none;
                    background: #D6000D;
                    color: #fff;
                    padding: 10px 30px;
                    font-weight: 700;
                    border-radius: 15px
                }
            }
        }

    }

    // Primeira Seção End

    // Segunda Seção

    .section__opção {
        margin-top: 10%;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 70vh;
        display: flex;
        flex-direction: row-reverse;

        .img__opcao img {
            width: 400px;
            margin-left: 20%;

        }

        .section__opção--lista {
            list-style: none;

            li {
                line-height: 2.0rem;
                font-size: 20px;
                font-weight: 500;

                i {
                    color: #D6000D;
                }
            }
        }
    }

    // Segunda Seção End

    // Terceira Seção

    .section__opção--form {
        margin-top: 26px;



        label {
            font-weight: 700;
            font-size: 18px;
            padding: 10px 0;
        }

        input {
            background: #eee;
            padding: 10px 20px;
            outline: none;
            border-radius: 15px;
            border: none;
        }

        button {
            background: #D6000D;
            color: #fff;
            border-radius: 15px;
            padding: 10px 20px;
            outline: none;
            border: none;
        }

    }

    // Terceira Seção End

    // Quarta Seção

    .section__comentarios {
        width: 100%;
        height: 50vh;
        margin-top: 8%;
        display: flex;
        justify-content: center;
        padding: 0 2%;
        column-gap: 25px;

        .img__comentarios {
            width: 60px;
            height: 60px;
            background: #D6000D;
            border-radius: 50px;
            position: absolute;
            top: 15px;
            left: 10px;
            margin: 0 7px;

        }

        .card__box {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 70%;
            margin: 0 auto;
            background: #ddd;
            padding: 30px 40px;
            column-gap: 20px;
            border-radius: 10px;
        }

        .card__text {
            width: 80%;
            height: 120%;


            p {
                font-size: 14px;
            }

            .person {
                font-size: 14px;
                font-weight: bold;
                margin: 10px 0;
                position: relative;
            }
        }
    }

    // Quarta Seção Fim

}
footer{
    width: 100%;
    height: 35vh;
    padding: 40px 0;
    justify-content: space-around;
    background: #000;
    color: #fff;

    .P1__text{
        strong{
            font-size: 29px;
        }

        p{
            font-size: 18px;
            color: #ddd;
        }
        
    }

    .P2__text--sobre{
        strong{
            font-size: 29px;
        }

        p{
            font-size: 18px;
            color: #ddd;
            
        }
    
    }

    .P3__text--contato{
        strong{
            font-size: 29px;
        }
        p{
            line-height: 3rem;
            font-size: 18px;
            color: #ddd;

            a{
                color: #fff;
                font-size: 18px;
            }
        }
    }

    .P4__text--Social{
        text-align: center;
        strong{
            font-size: 29px;  
        }

        a i{
            font-size: 29px;
            padding: 0 10px;
            
        }

        
    }
    
}


@import "midea991";
@import "midea783";
@import "midea587";
@import "midea461";

